.footer {
  box-sizing: border-box;
  background-color: #1f1f1f;
  color: #fff;
  font-size: 16px;
  line-height: 20px;

  padding: 60px 102px 60px 80px;
}

.footer__columns {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.footer__column--content-hours {
  margin: 0 0 0 auto;
}

.footer__column--content-social {
  margin: 0 0 0 100px;
}

.footer__logo {
  width: 57px;
  height: 80px;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__list-item {
  margin: 0 0 16px;
}

.footer__list-item:last-child {
  margin-bottom: 0;
}

.footer__column-heading {
  margin: 0 0 20px;
  padding: 0;
  font-size: 16px;
}

.footer__column-link {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.footer__column-link:hover {
  color: #c1c1c1;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__copyright {
  margin: 108px 0 0;
}
