.membership {
  padding: 100px 0 140px;
  background-color: #f2f2f2;
}

.membership__title {
  max-width: 574px;
  margin: 0 auto;
  text-align: center;
  font-size: 44px;
  font-weight: 500;
  line-height: 52px;
}

.membership__steps {
  list-style-type: none;
  padding: 0;
  margin: 100px 0 0;
  display: flex;
  justify-content: center;
  column-gap: 40px;
}
