.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  width: 57px;
  height: 80px;
}

.nav__links {
  margin: 8px 0 0;
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  padding: 0;
}

.nav__link {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.nav__link:hover {
  color: #1f69c9;
}
