.person {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin: 0;
}

.person--name-feynman {
  top: -30px;
  left: 319px;
}

.person--name-burbidge {
  top: 96px;
  right: 125px;
}

.person--name-cannon {
  bottom: 18px;
  right: 216px;
}

.person--name-mitchell {
  bottom: 82px;
  left: 142px;
}

.person--name-tarter {
  top: 79px;
  left: 159px;
}

.person__image {
  max-width: 100%;
}

.person__image--size-l {
  width: 140px;
}

.person__image--size-m {
  width: 100px;
}

.person__image--size-s {
  width: 80px;
}

.person__caption {
  text-align: center;
  font-size: 14px;
  margin: 0;
}
